.fluent-autosuggest-root {
    display: block;
    width: 100%;
    max-width: 300px;
}

.fluent-autosuggest-dropdown-list {
    box-sizing: border-box;
    width: calc(100% + (var(--spacing-xs) * 2));
    max-height: 320px;
    margin: calc(var(--spacing-xs) * -1);
    padding: var(--spacing-xxs);
    list-style: none;
    overflow: auto;
    transition: height var(--duration-normal) var(--easing-standard);
}

.fluent-autosuggest-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    box-sizing: border-box;
    height: 32px;
    margin: var(--spacing-xxs) 0;
    padding-inline: var(--spacing-s);
    border-radius: var(--control-corner-radius);
    background-color: transparent;
    color: var(--text-fill-color-primary);
    cursor: default;
    user-select: none;
    font-family: var(--font-family-base);
    font-size: var(--font-size-body);
}

.fluent-autosuggest-item:hover,
.fluent-autosuggest-item--highlighted {
    background-color: var(--subtle-fill-color-secondary);
}

.fluent-autosuggest-item:active {
    background-color: var(--subtle-fill-color-tertiary);
}

.fluent-autosuggest-item--disabled {
    color: var(--text-fill-color-disabled);
    pointer-events: none;
}

.fluent-autosuggest-item span {
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
