@keyframes progress-ring-indeterminate {
    0% {
        stroke-dasharray: 0.01px 43.97px;
        transform: rotate(-90deg);
    }
    50% {
        stroke-dasharray: 21.99px 21.99px;
        transform: rotate(360deg);
    }
    100% {
        stroke-dasharray: 0.01px 43.97px;
        transform: rotate(990deg);
    }
}

.fluent-progress-ring {
    outline: none;
    min-inline-size: 16px;
    min-block-size: 16px;
    display: inline-block;
}

.fluent-progress-ring circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: all var(--duration-normal) linear;
    fill: none;
    stroke: var(--progress-fill, var(--accent-default));
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 43.9823;
}

.fluent-progress-ring.indeterminate circle {
    animation: progress-ring-indeterminate 2s linear infinite;
    transition: none;
}

@media (prefers-reduced-motion: reduce) {
    .fluent-progress-ring.indeterminate circle {
        animation-duration: 4s;
    }
}
