.fluent-menu-flyout-divider {
    inline-size: calc(100% - 8px);
    margin: var(--spacing-xxs) 4px;
    block-size: 1px;
    border: none;
    border-block-start: 1px solid var(--divider-stroke-color-default);
}
