.fluent-divider {
    flex-shrink: 0;
    background-color: var(--divider-stroke-color-default);
    border: none;
}

.fluent-divider--horizontal {
    width: 100%;
    height: 1px;
    margin-block: var(--spacing-xs);
}

.fluent-divider--vertical {
    width: 1px;
    height: 100%;
    margin-inline: var(--spacing-xs);
}
